# Virtual environment
env/

# Raw EEG dataset + extracted BDF files
data/
bdf_data/

# Ignore all results except averaged CSVs
results/*
!results/averages/
!results/averages/**

# Ignore Python cache
__pycache__/
